@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

$base-color: #000;
$secondary-color: #fff;
$light-background: lighten($base-color, 12.5%);
$title-font: 'Orbitron', sans-serif;
$accessory-color: #ffbd80;

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
  padding: 0;
  margin: 0;
  background-color: #000;
  background-image: url('../images/marsbackground.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: $secondary-color;
  font-family: $title-font
}
.content {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}
header {
  margin-bottom: 200px;
  h1>span{
    top: 9%;
    position: absolute;
    transition: translateY(-50%);
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    font-family: $title-font;
    font-style: italic;
    // font-size: 4em;
    text-transform: uppercase;
    letter-spacing: 5px;
    background: linear-gradient(#262626,#fff,#262626);
    -webkit-background-clip: text;
    color: transparent;
  }
  h1>span:nth-child(1)
  {
    z-index: 2;
  }
  h1>span:nth-child(2)
  {
    z-index: 1;
    text-shadow: 1px 1px 0 #262626, 2px 2px 0 #262626, 3px 3px 0 #262626,
    4px 4px 0 #262626, 5px 5px 0 #262626, 1px 1px 0 #262626, 6px 20px 20px rgba(0,0,0,1),
    -1px -1px 0 #fff;
  }
}
.grid {
  display: grid;
  margin: auto;
  width: 75%;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-gap: 1px;
  min-height: 0;
  min-width: 0;
}
.grid > .grid-item {
  border: 2px solid $secondary-color;
  padding: 10px;
  overflow: hidden;
  min-width: 0;
}
.grid-heading {
  background: $base-color;
  color: $secondary-color;
  opacity: 0.8;
}
.form-input {
  background: $base-color;
  color: $secondary-color;
  padding: 10px;
  margin: 3px;
  margin-right: 15px;
  font-family: $title-font;
  opacity: 0.8;
}
.searchlabel {
  font-family: $title-font !important;
  text-shadow: 2px 2px 1px #000;
}
.user-message {
  max-width: 400px;
  background:#d35941;
  color: $secondary-color;
  border: 2px solid $secondary-color;
  padding: 10px;
  margin: auto;
  position: relative;
  top: 35px;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Roboto', sans-serif !important;
}
.center-align {
  text-align: center;
}
.p-2 {
  padding: 2rem;
}
.pb-2 {
  padding-bottom: 2rem;
}
.pt-2 {
  padding-top: 2rem;
}
.p-3 {
  padding: 3rem;
}
.pb-3 {
  padding-bottom: 3rem;
}
.pt-3 {
  padding-top: 3rem;
}
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}
// dust particles!
.particle-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  .particle {
    position: absolute;
    border-radius: 50%;
  }
  @for $i from 1 through 70 {
    @keyframes particle-animation-#{$i} {
        100% {
            transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
        }
    }
    .particle:nth-child(#{$i}){
        animation: particle-animation-#{$i} 60s infinite;
        $size: random(5) + 1 + px;
        opacity: random(100)/100;
        height: $size;
        width: $size;
        animation-delay: -$i * .2s;
        transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
        background: $accessory-color;
    }
  }
}

#madewithlove {
  font-size: 1.3rem !important;
  font-weight: 400 !important;
}
#madewithlove-name {
  font-family: $title-font !important;
}
#madewithlove-name, #madewithlove-heart {
  text-shadow: 0 0 0;
  color: $accessory-color;
}
#madewithlove-name:hover {
  text-decoration: none;
  color: $secondary-color;
}
#madewithlove-heart:hover {
  text-shadow: 1px 1px 1px $secondary-color, -1px -1px 1px #414143;
  color: $secondary-color; 
}
ul.pagination {
  // margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  li {
    display: inline-block;
  }
  li.page-item.active {
    a.page-link {
      color: $secondary-color;
      background-color: $base-color;
      border-color: $base-color;
    }
  }
  a.page-link {
    padding: 0.75rem 1rem;
    min-width: 3.5rem;
    text-align: center;
    box-shadow: none;
    color: $secondary-color;
    background: $base-color;
    border-color:$secondary-color;
    font-weight: 900;
    font-size: 1rem;
    text-decoration: none;
    &:hover {
      background-color: $light-background;
    }
  }
}
/* Media Queries */
@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  h1 {
    font-size: 2rem; 
  }
  header {
    margin-bottom: 80px;
  }
  .grid > .grid-item {
    font-size: 2vw;
    padding: 1px;
  }
  .user-message {
    font-size: 2vw;
  }
  .form-input {
    font-size: 2vw;
  }
  .searchlabel {
    font-size: 0.8rem !important;
  }
  #madewithlove {
    font-size: 1.0rem !important;
  }
 }
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .grid > .grid-item {
    font-size: 2vw;
    padding: 1px;
  }
  .user-message {
    font-size: 2vw;
  }
  .form-input {
    font-size: 2vw;
  }
  .searchlabel {
    font-size: 1.0rem !important;
  }
  #madewithlove {
    font-size: 1.1rem !important;
  }
 }
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  h1 {
    font-size: 3rem; 
  }
  header {
    margin-bottom: 110px;
  }
  .grid > .grid-item {
    font-size: 2vw;
    padding: 2px;
  }
  .user-message {
    font-size: 2vw;
  }
  .form-input {
    font-size: 2vw;
  }
  .searchlabel {
    font-size: 1.1rem !important;
  }
  #madewithlove {
    font-size: 1.2rem !important;
  }
 }
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  h1 {
    font-size: 4rem; 
  }
  header {
    margin-bottom: 130px;
  }
  .grid > .grid-item {
    font-size: 1rem;
    padding: 5px;
  }
  .user-message {
    font-size: 1rem;
    margin-top: 1rem;
  }
  .form-input {
    font-size: 1rem;
  }
  .searchlabel {
    font-size: 1.2rem !important;
  }
  #madewithlove {
    font-size: 1.3rem !important;
  }
 }
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  h1 {
    font-size: 5rem; 
  }
  header {
    margin-bottom: 160px;
  }
  .grid > .grid-item {
    font-size: 1rem;
    padding: 10px;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */

}
@media (min-width: 1381px) {
  /* hi-res laptops and desktops */
  h1 {
    font-size: 6rem;
  }
  header {
    margin-bottom: 180px;
  }
}
@media (min-width: 1500px) {
  /* hi-res laptops and desktops */
  h1 {
    font-size: 7rem;
  }
  header {
    margin-bottom: 200px;
  }
}