@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

$base-color: #000;
$secondary-color: #fff;
$light-background: lighten($base-color, 12.5%);
$main-font: 'Orbitron', sans-serif;
$accessory-color: #ffbd80;

html, body {
  height: 100%;
  font-size: 16px;
}
body {
  padding: 0;
  margin: 0;
  background-color: #000;
  background-image: url('../images/marsbackground.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: $secondary-color;
  font-family: $main-font;
}
/* Dust particles! */
.particle-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  .particle {
    position: absolute;
    border-radius: 50%;
  }
  @for $i from 1 through 100 {
    @keyframes particle-animation-#{$i} {
        100% {
            transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
        }
    }
    .particle:nth-child(#{$i}){
        animation: particle-animation-#{$i} 60s infinite;
        $size: random(5) + 1 + px;
        opacity: random(100)/100;
        height: $size;
        width: $size;
        animation-delay: -$i * .2s;
        transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
        background: $accessory-color;
    }
  }
}
header {
  margin-bottom: 200px;
  h1>span{
    position: absolute;
    transition: translateY(-50%);
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    font-family: $main-font;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 5px;
    background: linear-gradient(#262626,#fff,#262626);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  h1>span:nth-child(1)
  {
    z-index: 3;
  }
  h1>span:nth-child(2)
  {
    z-index: 2;
    text-shadow: 1px 1px 0 #262626, 2px 2px 0 #262626, 3px 3px 0 #262626,
    4px 4px 0 #262626, 5px 5px 0 #262626, 1px 1px 0 #262626, 6px 20px 20px rgba(0,0,0,1),
    -1px -1px 0 #fff;
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
  grid-template-rows: repeat(auto-fit, minmax(1fr, 500px));
  justify-content: center;
  width: 100%;
  .grid-item {
    z-index: 2;
    cursor: zoom-in;
    align-self: center;
    position: relative;
    background: $base-color;
    color: $secondary-color;
    margin: 2rem;
    font-family: $main-font;
    background-color: rgba(0,0,0,0.6);
    overflow: hidden;
    min-width: 300px;
    min-height: 400px;
    border-radius: 20%;
    box-shadow: 2px 2px 1px #fff;
    .shine {
      z-index: -1;
      position: relative;
      overflow: hidden;
      width: 1000px;
      height: 150px;
      margin-left: -100px;
      transform: rotate(30deg);
      background: -webkit-linear-gradient(top, transparent, rgba(255,255,255,0.2),transparent);
      position: absolute;
      animation: shine 2s 1;
      -webkit-animation: shine 2s 1;
    }
    @keyframes shine {
      100% {
        margin-top: -400px;
      }
      0% {
        margin-top: 400px;
      }
    }
    @-webkit-keyframes shine {
      100% {
        margin-top: -400px;
      }
      0% {
        margin-top: 400px;
      }
    }
    .photo {
      z-index: 4;
      width: 300px;
      margin: 18px 5px 5px 19px;
      border-radius: 25% 25% 0 0;
      overflow: hidden;
      opacity: 0.9;
      &:hover {
        opacity: 1.0;
      }
    }
    .description {
      z-index: 4;
      position: relative;
      padding: 50px 20px 50px 55px;
      font-size: 1.0rem;
      text-shadow: 2px 2px 1px #000;
    }
  }
}
.grid-heading {
  background: $base-color;
  color: $secondary-color;
  opacity: 0.8;
}
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  .flexitem {
    padding: 20px 5px 20px 0;
    margin-bottom: 0;
  }
}
.form-input {
  background: $base-color;
  color: $secondary-color;
  padding: 10px;
  margin: 3px;
  font-family: $main-font;
  text-shadow: 2px 2px 1px #000;
  opacity: 0.8;
  &:hover {
      opacity: 1.0;
  }
}
.searchlabel {
  font-family: $main-font !important;
  text-shadow: 2px 2px 1px #000;
}
.user-message {
  max-width: 400px;
  background:#d35941;
  color: $secondary-color;
  border: 2px solid $secondary-color;
  padding: 10px;
  margin: auto;
  position: relative;
  top: 35px;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Roboto', sans-serif !important;
}
.center-align {
  text-align: center;
}
.plr-0 {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
.p-2 {
  padding: 2rem;
}
.pb-2 {
  padding-bottom: 2rem;
}
.pt-2 {
  padding-top: 2rem;
}
.p-3 {
  padding: 3rem;
}
.pb-3 {
  padding-bottom: 3rem;
}
.pt-0 {
  padding-top: 0.2rem;
}
.pt-3 {
  padding-top: 3rem;
}
#madewithlove {
  font-size: 1.3rem !important;
  font-weight: 400 !important;
}
#madewithlove-name {
  font-family: $main-font !important;
}
#madewithlove-name, #madewithlove-heart {
  text-shadow: 0 0 0;
  color: $accessory-color;
}
#madewithlove-name:hover {
  text-decoration: none;
  color: $secondary-color;
}
#madewithlove-heart:hover {
  text-shadow: 1px 1px 1px $secondary-color, -1px -1px 1px #414143;
  color: $secondary-color; 
}
ul.pagination {
  // margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  li {
    display: inline-block;
  }
  li.page-item.active {
    a.page-link {
      color: $secondary-color;
      background-color: $base-color;
      border-color: $base-color;
    }
  }
  a.page-link {
    padding: 0.75rem 1rem;
    min-width: 3.5rem;
    text-align: center;
    box-shadow: none;
    color: $secondary-color;
    background: $base-color;
    border-color:$secondary-color;
    font-weight: 900;
    font-size: 1rem;
    text-decoration: none;
    &:hover {
      background-color: $light-background;
    }
  }
}
/* Modal */
/* The Modal (background) */
.modal {
  display: none; /* Hide modal by default. */
  cursor: zoom-out;
  position: fixed;
  z-index: 5; /* Top layer. */
  padding-top: 80px;
  left: 0;
  top: 0;
  width: 100%; /* Full width of image */
  height: 100%; /* Full height of image */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
/* Add Animation */
.modal-content {  
  -webkit-animation-name: zoom-in;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom-in;
  animation-duration: 0.6s;
}
/* Zoom in animation. */
@-webkit-keyframes zoom-in {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}
@keyframes zoom-in {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}
/* Zoom out animation. */
@-webkit-keyframes zoom-out {
  from {-webkit-transform:scale(1)} 
  to {-webkit-transform:scale(0)}
}
@keyframes zoom-out {
  from {transform:scale(1)} 
  to {transform:scale(0)}
}
/* The Close Button */
.close {
  z-index: 6;
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
/* Media Queries */
@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  h1 {
    font-size: 2rem; 
  }
  header {
    margin-bottom: 80px;
    h1>span {
      top: 40px;
    }
  }
  .grid > .grid-item {
    font-size: 2vw;
    padding: 1px;
  }
  .user-message {
    font-size: 2vw;
  }
  .searchlabel, .form-input {
    font-size: 0.8rem !important;
  }
  select {
    max-width: 200px;
  }
  #madewithlove {
    font-size: 1.0rem !important;
  }
 }
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .grid > .grid-item {
    font-size: 2vw;
    padding: 1px;
  }
  .user-message {
    font-size: 2vw;
  }
  .searchlabel, .form-input {
    font-size: 1.0rem !important;
  }
  select {
    max-width: 300px;
  }
  #madewithlove {
    font-size: 1.1rem !important;
  }
 }
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  h1 {
    font-size: 3rem; 
  }
  header {
    margin-bottom: 110px;
    h1>span {
      top: 45px;
    }
  }
  .grid > .grid-item {
    font-size: 2vw;
    padding: 2px;
  }
  .user-message {
    font-size: 2vw;
  }
  .searchlabel, .form-input {
    font-size: 1.1rem !important;
  }
  select {
    max-width: 500px;
  }
  #madewithlove {
    font-size: 1.2rem !important;
  }
 }
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  h1 {
    font-size: 4rem; 
  }
  header {
    margin-bottom: 130px;
  }
  .grid > .grid-item {
    font-size: 1rem;
    padding: 5px;
  }
  .user-message {
    font-size: 1rem;
    margin-top: 1rem;
  }
  select {
    max-width: 600px;
  }
  .searchlabel, .form-input {
    font-size: 1.2rem !important;
  }
  #madewithlove {
    font-size: 1.3rem !important;
  }
 }
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  h1 {
    font-size: 5rem; 
    h1>span {
      top: 55px;
    }
  }
  header {
    margin-bottom: 160px;
  }
  .grid > .grid-item {
    font-size: 1rem;
    padding: 10px;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */

}
@media (min-width: 1381px) {
  /* hi-res laptops and desktops */
  h1 {
    font-size: 6rem;
  }
  header {
    margin-bottom: 180px;
    h1>span {
      top: 56px;
    }
  }
}
@media (min-width: 1500px) {
  /* hi-res laptops and desktops */
  h1 {
    font-size: 7rem;
  }
  header {
    margin-bottom: 200px;
    h1>span {
      top: 59px;
    }
  }
}